html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    cursor: url('./assets/images/mouseCursor.png'),auto;
}   